<%- include('./include/init/header') -%> 


<header class="header1">
    <%- include('./include/init/head',{user:user}) -%> 
</header>

<div class="story-cont">
    <%- include('./include/init/storys') -%>
    <%- include('./include/init/storys') -%>
    <%- include('./include/init/storys') -%>
    <%- include('./include/init/storys') -%> 
</div>

<main>
    <ul class="post-cont">
        <li >
            <%- include('./include/init/post') -%> 
        </li>
        <li>
            <%- include('./include/init/post') -%> 
        </li>
    </ul>
</main>
<script src="/js/menu.js"></script>
<%- include('./include/init/footer') -%> 